@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

$main-color: #ffe600;
$sub-color:#0f357d;
$text-color: #202020;
$border-color: #c8c7c7;
$box-shadow-style : 1px 0 0 0 $border-color,
                      0 1px 0 0 $border-color,
                      1px 1px 0 0 $border-color,
                      1px 0 0 0 $border-color inset,
                      0 1px 0 0 $border-color inset;
$main-size:1200px;
$montserrat:'Montserrat', sans-serif;

/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, fieldset, button{
  margin:0; padding:0; border:0; box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif; color:$text-color;
  text-decoration: none; list-style: none; border-collapse: collapse;
  border-spacing: 0;
}
/* HTML5 display-role reset for older browsers */
/* 익스플로러 하위버전은 해당 태그를 인식하지 못한다. 인식하지 못하는 태그는 inline 요소로 들어가기때문에 width, height등의 속성 설정이 안된다. */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body{
  font-size:1.6rem;
}
ul {
    list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type="text"],input[type="password"]{
  box-sizing: border-box;
  padding:0 12px;
  width:100%;
  height: 46px;
  border:1px solid $border-color;
  font-size:1.6rem;
}
button{
  padding:0 12px;
  height: 46px;
  font-size:1.8rem;
  cursor: pointer;
}
/******** CSS 모듈 ********/
.clearfix::after{
    content: "";
    display: block;
    clear:both;
}
/******** 숨김 콘텐츠 ********/
.readable-hidden, .skip-nav, legend{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
}
.skip-nav:focus{
    width: 100%;
    height:auto;
    padding: 1em;
    background: #000;
    color: #fff;
    text-align: center;
    margin: 0;
    clip: rect(auto, auto, auto, auto);
    z-index: 100;
}
html{
  font-size:10px;
}
img{
  width:100%
}
body {
  background-color: #fff;
  min-height:100vh;
}
/******** 공용 헤더 스타일 ********/
.header{
  width: $main-size;
  margin: 0 auto;
  padding:15px 0;
}
.logo{
  display:inline-block;
  width: 194px;
}
.member-list{
  text-align:right;
  float: right;
  margin-top:20px
}
.member-list li{
  display:inline-block;
  margin-left:15px;
}
.member-list li:after{
  content: '|';
  display: inline-block;
  margin-left:15px
}
.member-list li:last-child:after{
  content: '';
  margin: 0;
}
.member-list a{
  color:$text-color;
}
.navigation{
  min-width:$main-size;
  width: 100%;
  height: 400px;
  background: url(https://cdn.glitch.com/2a5f71af-56a1-4f84-8a70-8a6c7e1a700f%2Fbg-menu.jpg?1541568447816) no-repeat 0 0;
  background-size: cover;
  text-align: center;
  padding:150px 0 0 0;
}
.page-title{
  font-size:4rem;
}
.menu-list{
  width:$main-size;
  margin: 106px auto 0 auto;
}
.menu-item{
  float:left;
  width:20%;
  /* border:1px solid $text-color; */
  /* border 겹침 현상때문에 shadow로 조정 */
}
.menu-item a{
  width:100%;
  padding:10px 0;
  display:inline-block;
  background-color:#fff;
  box-shadow: $box-shadow-style;
}
.menu-item a:hover{
  background-color: $main-color;

}

main{
  width:$main-size;
  margin: 0 auto;
}
/******** 공용 푸터 스타일 ********/
.footer{
  margin-top:130px;
  padding:40px;
  border-top:3px dotted #dadada;
  font-size:1.4rem;
  line-height: 1.8;
}
.profile{
  width:$main-size;
  margin:0 auto;
}
.footer img {
  border-radius: 5px;
  width: 150px;
}
.footer ul{
  display:inline-block;
  margin-left:30px;

}
.footer a{
  color:$border-color;
}
/****** 로딩 인디케이터 *******/
body.loading-indicator:after{
  background-color: rgba(0,0,0,0.5);
  background-image: url(https://cdn.glitch.com/2a5f71af-56a1-4f84-8a70-8a6c7e1a700f%2Fspinning-circles.svg?1541642702611);
  background-repeat: no-repeat;
  background-position:50% 50%;
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  content:'';
}

.root{
  margin-top:40px;
}
/******** 상품 리스트 ********/
.products-list{
}
.item{
  float:left;
  width:25%;
  box-shadow: $box-shadow-style;
  padding:20px;
  cursor : pointer;
}
.item .name{
  text-align: center;
  font-size:1.5rem;
}

/******** 로그인 화면 ********/

.login{
  width:500px;
  margin: 80px auto 0 auto;
}
.login-title{
  font-size:5rem;
  text-align: center;
  color:$main-color;
  font-family: $montserrat;
  margin-bottom:50px;
}
.login-input{
  display:block;
  margin-bottom:15px;
}
.login button{
  width:100%;
  background-color:$main-color;
  height:60px;
  font-weight:700;
  font-size:2.2rem;

}

/****** 상품 페이지 ******/
.detail-thumbnail-count{
  // background-color: coral;

  dd, dt{
    float:right;
    width:800px;
    padding:10px 0 0 50px
  }
  dt{
    font-size:3.6rem;
    font-weight: 700;
  }
  .detail-img{
    width:400px;
    float:left;
    box-shadow: $box-shadow-style;
    padding:20px;
  }


}


